<div class="container-fluid p-5">
  <div class="card p-5">
    <h2 class="text-center">Create New Vehicle</h2>
    <div class="card-body">
      <form [formGroup]="form" #frmVehicle="ngForm" id="frmVehicle" novalidate (ngSubmit)="onSaveVehicle()">
        <div class="form-group">
          <label class="mr-2">Vehicle Plate</label>
          <em class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="
          Please enter the license plate">
          </em>
          <input type="text" class="form-control" id="Plate" placeholder="XYZ123" formControlName="plaque">
        </div>
        <div class="form-group">
          <label class="mr-2">vehicle Type</label>
          <em class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="
          Please enter the vehicle Type">
          </em>
          <select class="form-control" id="Type" formControlName="type">
            <option value="Motocycle">Motocycle</option>
            <option value="Sedan">Sedan</option>
            <option value="Truck">Truck</option>
          </select>
        </div>
        <div class="form-group">
          <label class="mr-2">Space</label>
          <em class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="
          Please enter the Space">
          </em>
          <select class="form-control" id="Space" formControlName="space">
            <option value="small" *ngIf="vehicleType=='Motocycle'">small</option>
            <option value="medium" *ngIf="vehicleType!='Truck'">medium</option>
            <option value="big">big</option>
          </select>
        </div>
      </form>
    </div>
    <div class="form-group buttons-group">
      <div class="btn-group">
        <button type="button" (click)="onBack()" class="btn btn-secondary btn-sm">
          <i class="fa fa-arrow-left"></i> Back
        </button>
        <button type="button" (click)="reset()" *ngIf="mode > 0" class="btn btn-danger btn-sm">
          <i class="fa fa-undo"></i> Reset
        </button>
      </div>
      <!-- <button type="submit" class="btn btn-primary" [disabled]="!form.get('Password').valid || !form.get('UserName').valid">Save user</button> -->
      <button type="submit" class="btn btn-outline-primary" (click)='onSaveVehicle()'>Add Vehicle</button>
    </div>
  </div>
</div>