<mat-card class="headerCard" fxLayout="column" fxLayout.lt="row" [ngStyle.lt-md]="{'width': '90%'}">  
  <h1 [ngStyle.lt-md]="{'font-size': '1.5em'}">Welcome to the parking system.</h1>
  <p>We have a maximum capacity of 7 parking spaces. </p> 
</mat-card>

<div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center flex-start" fxLayoutGap="32px" [ngStyle]="{'margin-bottom': '10%'}" [ngStyle.lt-md]="{'margin-bottom': '10%','margin-top': '10%'}">
  <mat-card [ngStyle]="{'width': '44%', 'border-radius': '20px' }" [ngStyle.lt-md]="{'width': '90%'}" >
    <mat-card-title>Parked Vehicles</mat-card-title>
    <hr>
    <mat-table #table [dataSource]="vehicles">
      <ng-container matColumnDef="Plaque">
        <mat-header-cell *matHeaderCellDef>
          Vehicle ID
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.vehicleID}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef>
          Type
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.type}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Space">
        <mat-header-cell *matHeaderCellDef>
          Space
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.space}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef>
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          <div>
            <button mat-stroked-button color="warn" (click)="delete(vehicle.vehicleID)">
              <em class="material-icons">delete_outline</em>
              Delete
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
    </mat-table>
    <button mat-raised-button color="primary" routerLink="/list/create" [ngStyle]="{'margin-top': '2%' }">New
      Vehicle</button>
  </mat-card>

  <mat-card [ngStyle]="{'width': '30%', 'border-radius': '20px' }" [ngStyle.lt-md]="{'width': '90%'}">
    <mat-card-title>Waiting Vehicles</mat-card-title>
    <hr>
    <mat-table #table1 [dataSource]="vehiclesWaiting">
      <ng-container matColumnDef="Plaque">
        <mat-header-cell *matHeaderCellDef>
          Vehicle ID
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.vehicleID}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef>
          Type
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.type}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Space">
        <mat-header-cell *matHeaderCellDef>
          Space
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          {{vehicle.space}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnswait"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumnswait"></mat-row>
    </mat-table>
  </mat-card>
</div>